@import 'bootstrap/dist/css/bootstrap';
@import "../node_modules/rfs/scss";

:root {
    --bs-body-font-family: 'Montserrat', sans-serif;
    --bs-body-color: #291507;
}

$cat-wiki-bg: '../public/img/HeroImagelg.png';
$max-search-width: 350px;

$md: 768px;

// font size
$fs-h1: 48px;
$fs-h2: 36px;
$fs-h3: 30px;
$fs-h4: 20px;
$fs-h5: 16px;
$fs-p: 18px;

//color
$color-btn: #7F736A;
$author-link: #fff;
$color-gray: #828282;

.text-gray {
    color: $color-gray;
}

.bg-gray {
    background-color: #9797971A;
}