@import 'custom.scss';

h1,h2,h3,h4,h5,h6, p {
    margin: 0;
}

h1 {
    @include font-size($fs-h1)
}

h2 {
    @include font-size($fs-h2);
}

h5 {
    @include font-size($fs-h5)
}

p {
    @include font-size($fs-p)
}

.border-radius-20 {
    border-radius: 20px;
}

.text-gray {
    color: $color-gray;
}

.bg-gray {
    background-color: #9797971A;
}

.color-btn {
    color: $color-btn;
}

.hover-effect {
    background-image: linear-gradient(
        to right,
        #54b3d6,
        #54b3d6 50%,
        $color-btn 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.hover-effect:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.hover-effect:hover {
    background-position: 0;
}

.hover-effect:hover::before {
    width:100%;
}

.author-link {
    background-image: linear-gradient(
        to right,
        #54b3d6,
        #54b3d6 50%,
        $author-link 50%
    );
}

.cat-wiki {
    background-image: url($cat-wiki-bg);
    background-size: cover;
    color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.cat-wiki-title {
    width: 200px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(104%) contrast(101%);
}

.cat-wiki__text {
    font-weight: 500;
}

.search-bar {
    position: relative;
}

.search-bar-mw {
    max-width: $max-search-width;
}

.search__input {
    width: 100%;
    border-radius: 40px;
}

.search__input, 
.search-icon-holder {
    height: 55px;
}

.search__input:focus {
    outline: none;
}

.search__input::placeholder {
    color: #291507;
}

.search-icon-holder {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 25px;
}

.search-dropdown:empty {
    display: none;
}

.search-dropdown {
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 1;
    width: 100%;
    overflow-y: auto;
    height: 243px;
    padding: 10px;
}

.search-dropdown-row {
    color: #000000;
    font: 500 1.125rem 'Montserrat', sans-serif;
    padding: 28px 10px;
    border-radius: 12px;
}

.search-dropdown-row:hover {
    background-color: #9797971A;
    cursor: pointer;
}

.search-dropdown::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.search-dropdown::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.search-dropdown::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #BDBDBD;
}

.cat-breeds {
    background-color: #E3E1DC;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.cat-reason-img-container {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 8.68% 39% auto;
    grid-template-rows: 35% 20% auto;
}

.cat-reason-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cat-reason-img-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.cat-reason-img-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.cat-reason-img-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.footer {
    background-color: #000000;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
}

.footer-logo {
    filter: invert(96%) sepia(0%) saturate(15%) hue-rotate(222deg) brightness(102%) contrast(105%);
}

.cat-img {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    border-radius: 20px;
}

.stadium {
    width: 20%;
    height: 12px;
    border-radius: 8px;
}

.stadium--active {
    background-color: #544439;
}

.stadium--inactive {
    background-color: #E0E0E0;
}

.container-login {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .login {
        width: 475px;
        border: 1px solid #BDBDBD;
        border-radius: 24px;
        .login__input {
            outline: none;
        }
        .login__input::placeholder {
            color: $color-gray;
        }
    }
}

@media screen and (min-width: 450px) {
    .stadium {
        width: 60px;
        height: 12px;
    }
}

@media screen and (min-width: $md) {
    .cat-wiki-title {
        width: 300px;
    }
}