@import 'custom.scss';

h1,h2,h3,h4,h5,h6, p {
    margin: 0;
}

h1 {
    @include font-size($fs-h1)
}

h2 {
    @include font-size($fs-h2);
}

h3 {
    @include font-size($fs-h3);
}

h4 {
    @include font-size($fs-h4);
}

h5 {
    @include font-size($fs-h5)
}

p {
    @include font-size($fs-p)
}

body {
    background-color: #f8f8f8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.text-shadow {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.stadium {
    width: 100%;
    max-width: 60px;
    height: 12px;
    border-radius: 8px;
}

.border-radius-20 {
    border-radius: 20px;
}

.text-gray {
    color: $color-gray;
}

.bg-gray {
    background-color: #9797971A;
}

.color-btn {
    color: $color-btn;
}

.btn:hover,
.btn:active {
    background-color: #9bc1ff !important;
    border-color: transparent !important;
}

.hover-effect {
    background-image: linear-gradient(
        to right,
        #54b3d6,
        #54b3d6 50%,
        $color-btn 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.hover-effect:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.hover-effect:hover {
    background-position: 0;
}

.hover-effect:hover::before {
    width:100%;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
    }
    div:nth-child(1) {
        animation-delay: -0.45s;
    }
    div:nth-child(2) {
        animation-delay: -0.3s;
    }
    div:nth-child(3) {
        animation-delay: -0.15s;
    }
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  
.header {
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

    .cat-logo__img {
        width: 30px;
    }

    .user-img {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .user-box {
        width: 300px;
        right: 0;
        top: 110%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .hover-gray:hover {
        background-color: #e9e9e9;
        cursor: pointer;
    }

}

.cat-logo__text {
    font-size: 32px;
    font-family: 'Mystery Quest', cursive;
}

.author-link {
    background-image: linear-gradient(
        to right,
        #54b3d6,
        #54b3d6 50%,
        $author-link 50%
    );
}

.cat-wiki {
    background-image: url($cat-wiki-bg);
    background-size: cover;
    color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    .cat-logo__img {
        width: 80px;
    }

    .cat-wiki__text {
        font-weight: 500;
    }

}

.search-bar {
    position: relative;
}

.search-bar-mw {
    max-width: $max-search-width;
}

.search__input {
    width: 100%;
    border-radius: 40px;
}

.search__input, 
.search-icon-holder {
    height: 55px;
}

.search__input:focus {
    outline: none;
}

.search__input::placeholder {
    color: #291507;
}

.search-icon-holder {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 25px;
}

.search-dropdown:empty {
    display: none;
}

.search-dropdown {
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 1;
    width: 100%;
    overflow-y: auto;
    height: 243px;
    padding: 10px;
}

.search-dropdown-row {
    color: #000000;
    font: 500 1.125rem 'Montserrat', sans-serif;
    padding: 28px 10px;
    border-radius: 12px;
}

.search-dropdown-row:hover {
    background-color: #9797971A;
    cursor: pointer;
}

.search-dropdown::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.search-dropdown::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.search-dropdown::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #BDBDBD;
}

.cat-img {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.cat-breeds {
    background-color: #E3E1DC;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.cat-reason-img-container {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 8.68% 39% auto;
    grid-template-rows: 35% 20% auto;
}

.cat-reason-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cat-reason-img-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.cat-reason-img-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.cat-reason-img-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.footer {
    background-color: #000000;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
}


.stadium--active {
    background-color: #544439;
}

.stadium--inactive {
    background-color: #E0E0E0;
}

.container-login {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .login {
        width: 475px;
        border: 1px solid #BDBDBD;
        border-radius: 24px;
        .login__input {
            outline: none;
        }
        .login__input::placeholder {
            color: $color-gray;
        }
    }
}

.user-profile {
    .user-img {
        width: 72px;
        height: 72px;
        object-fit: cover;
    }
}

.edit-user-profile {
    .previous-page {
        width: 90px;
    }
    .user-img {
        width: 75px;
        height: 75px;
        object-fit: cover;
    }
    label {
        width: 100px;
    }
}

.error-page {
    img {
        max-width: 500px;
    }
}

.cart {
    .empty-shopping-img {
        width: 190px;
    }

    .product-img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
}

.increase-decrease-btn {
    input {
        width: 50px;
    }
}

.pop-up {
    z-index: 99;
    .icon {
        width: 50px;
    }
}


@media screen and (min-width: $md) {
    .cat-wiki-title {
        width: 300px;
    }
}