@import 'custom.scss';

h1,h2,h3,h4,h5,h6, p {
    margin: 0;
}

h1 {
    @include font-size($fs-h1)
}

h2 {
    @include font-size($fs-h2);
}

h5 {
    @include font-size($fs-h5)
}

p {
    @include font-size($fs-p)
}

.bg-gray {
    background-color: #9797971A;
}

.cat-wiki {
    background-image: url($cat-wiki-bg);
    background-size: cover;
    color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.cat-wiki-title {
    width: 200px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(104%) contrast(101%);
}

.cat-wiki__text {
    font-weight: 500;
}

.search-bar {
    position: relative;
}

.search-bar-mw {
    max-width: $max-search-width;
}

.search__input {
    width: 100%;
    border-radius: 40px;
}

.search__input, 
.search-icon-holder {
    height: 55px;
}

.search__input:focus {
    outline: none;
}

.search__input::placeholder {
    color: #291507;
}

.search-icon-holder {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 25px;
}

.search-icon {
    width: 100%;
    object-fit: contain;
}

.search-icon:hover  {
    cursor: pointer;
}

.search-dropdown:empty {
    display: none;
}

.search-dropdown {
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 1;
    width: 100%;
    overflow-y: auto;
    height: 243px;
    padding: 10px;
}

.search-dropdown-row {
    color: #000000;
    font: 500 1.125rem 'Montserrat', sans-serif;
    padding: 28px 10px;
    border-radius: 12px;
}

.search-dropdown-row:hover {
    background-color: #9797971A;
    cursor: pointer;
}

.search-dropdown::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.search-dropdown::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.search-dropdown::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #BDBDBD;
}

// .exit-icon {
//     border-radius: 8px;
// }

.cat-breeds {
    background-color: #E3E1DC;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.cat-reason-img-container {
    display: flex;
    flex: 6;
    align-items: flex-start;
}

.cat-reason-img-container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cat-reason-img {
    width: 100%;
    object-fit: contain;
}

.cat-reason-img--1 {
    margin-bottom: 20px;
}

.cat-reason-img--2 {
    width: 70%;
}

.cat-reason-img--3 {
    padding-left: 20px;
}

.more-info--btn {
    border: none;
}

.more-info-text {
    color: #7F736A;
    padding-right: 5px;
}

.more-info-icon {
    filter: invert(43%) sepia(19%) saturate(257%) hue-rotate(343deg) brightness(100%) contrast(86%);
    width: 23px;
    object-fit: contain;
}

.footer {
    background-color: #000000;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
}

.footer-logo {
    filter: invert(96%) sepia(0%) saturate(15%) hue-rotate(222deg) brightness(102%) contrast(105%);
}

.footer__link {
    color: inherit;
}

.footer__link:hover {
    color: $author-link-color !important;
}

.cat-img {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    border-radius: 20px;
}

.stadium {
    width: 60px;
    height: 12px;
    border-radius: 8px;
    margin-right: 8px;
}

.stadium--active {
    background-color: #544439;
}

.stadium--inactive {
    background-color: #E0E0E0;
}

@media screen and (min-width: $md) {
    .cat-wiki-title {
        width: 300px;
    }
}